@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

/** MOBILE VERSION**/

body {
    /* background: url('../images/sun_mobile_query.jpg') no-repeat; */
    background-color: sandybrown;
    font-family: Roboto mono;
    display: grid;
    grid-template-columns: 100%;
}

h1 {
    font-family: Libre Barcode 39 text;
    text-align: center;
}

#clock {
    color: white;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

#date {
    color: white;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 16px;

}

/** LAPTOP VERSION**/
@media only screen and (min-width: 699px){
    body {
        display: grid;
        background-color: skyblue;
    }

    #clock {
        font-family: 'Segoe UI';
        font-weight: 500;
        display: flex;
        font-size: 4em;
    }

    #date {
        color: grey;
        font-size: 1.5em;
    }
}

/** DESKTOP VERSION **/
@media only screen and (min-width: 1366px){
    body {
        display: grid;
        background-color: lightcoral;
    }

    #clock {
        font-weight: initial;
    }

    #date {
        font-weight: lighter;
        color: navy;
    }
}
